body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.hour {
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  display: inline-block;
}

.hour.booked {
  background-color: #f2dede;
  border-color: #ebccd1;
  cursor: not-allowed;
}

/* Center the modal */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the modal content */
.ReactModal__Content {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
